{% extends "blog/base.html" %}
{% block title %}{{super()}}{% block page_title %}发表文章{% endblock %}{% endblock %}
{% block head %}
	{{super()}}
	{% css 'publish', True %}
{% endblock %}
{% block main %}
	<h1 class="page_title">{{self.page_title()}}</h1>
	<form method="post">
		<div class="blog_title">
			<input type="text" name="title" placeholder="请输入标题（必填）" value="{{title}}" required>
		</div>
		<div class="blog_tags">
			<input type="text" name="tags" placeholder="请输入标签（,分隔）" value="{{tags}}">
		</div>
		{% include self.brother('editor') %}
		{% block extform %}{% endblock %}
		<div class="submitBtn">
			<button name="status" class="save" value="0">保存草稿</button>
			<button name="status" class="publish" value="1">发表文章</button>
		</div>
	</form>
{% endblock %}