body {
	background: url(../images/bg.jpg) no-repeat;
	background-size: cover;
}
.container {
	width: 500px;
	margin: 0 auto;
	padding: 10px;
}
.page_title {
	text-align: center;
	font-weight: 400;
	color: #50a8e8;
	div {
		font-size: 20px;
		margin-bottom: 10px;
	}
}

#applyform {
	padding: 10px;
	background: rgba(255, 255, 255, .6);
	border-radius: 3px;

}

.form-group {
	margin-top: 10px;

	> label {
		float: left;
		min-width: 100px;
		text-align: right;
		margin-right: 10px;
		line-height: 34px;
		color: #474747;
		@extend %ph_label;
	}
}
.form-control {
	color: #555;
	background-color: #fff;
	width: 300px;
	padding: 8px;
	font-size: 14px;
	font-family: 'Microsoft YaHei';
	border: solid 1px #ddd;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: inset 0 1px 3px #dedede;
	@include transition(0.3s linear border);
	&:focus {
		border-color: #129FEA;
		outline: none;
	}
	&[type=radio] {
		height: 16px;
		width: 16px;
		vertical-align: middle;
		margin-right: 4px;
	}
	@extend %ph_control;
}
.radiolist {
	overflow: hidden;
	line-height: 34px;
	label {
		cursor: pointer;
		display: inline-block;
		width: 80px;
	}
}
textarea {
	height: 150px;
	resize: none;
}

.btn_submit {
	cursor: pointer;
	display: block;
	background: #238EFA;
	color: #fff;
	border-style: none;
	border-radius: 4px;
	outline: none;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	font-family: inherit;
	text-align: center;
	margin-top: 30px;
	margin-left: 110px;
	width: 300px;
	&:hover {
		background: #067cf4;
	}
	@extend %ph_control;
}

.transition_color {
	@include transition((background-color 0.3s ease 0s, color 0.3s ease 0s));
}

.notice {
	color: #fff;
	p {
		line-height: 1.5;
		padding-left: 24px;
		text-indent: -24px;
	}
}
.copyright {
	text-align: center;
	color: #eee;
	padding-bottom: 5px;
	margin: 10px;
	margin-top: 30px;
	padding-top: 5px;
	border-top: 1px rgba(255, 255, 255, .8) solid;
}

@include phone {
	.container {width: auto;}
	%ph_label {
		display: block;
		text-align: left;
	}
	%ph_control {
		width: 100%;
		margin-left: 0;
	}
}