@import "../../sass/parts.scss";
@import "backend-parts.scss";

.main-content {
	overflow: hidden;
	padding: 15px;
	.departments {
		background: #fff;
		li {
			width: 12.5%;
			float: left;
			padding: 15px;
			line-height: 1.5;
			text-align: center;
			box-sizing: border-box;
			border-bottom: solid 3px transparent;
			@extend %ph_depart;
			&.active {
				border-color: $active_color;
			}
			h2 {
				margin: 0;
				font-size: 1.1em;
				font-weight: normal;
				@include max-line(1);
			}
		}
	}
	.detail {
		flex-grow: 1;
		margin-top: 20px;
		background-color: #fff;
		padding: 15px;
		.actions {
			text-align: right;
			margin-bottom: 15px;
			select {
				@extend %form-control;
			}
		}
	}
	#modal-detail {
		.modal-content {
			padding: 10px;
			line-height: 1.5;
			.label {
				display: inline-block;
				width: 120px;
				margin-right: 5px;
				text-align: right;
				&:after {
					content: '：';
				}
			}
		}
	}
}


@include phone {
	%ph_depart {
		width: 50%;
		border: solid 1px #ccc;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 14px;
		&:last-child:nth-child(odd) {
			width: 100%;
		}
	}
	.detail {
		button, select {
			padding: 3px !important;
		}
		.actions input {
			width: 120px;
		}
	}
	#apply-list {
		td, th {
			padding: 4px;
			font-size: 14px;
			&:nth-child(4), &:nth-child(5) {
				display: none;
			}
		}
		.name, .college {
			min-width: 36px;
		}
	}
}