{% extends "base.html" %}
{% block title %}空谷招新后台登录{% endblock %}
{% block head %}
	<link rel="shortcut icon" href="{{handler.img_url('favicon.ico')}}" />
	{% css 'backend, backend-login', handler.appid %}
{%- endblock %}
{% block main %}
	<nav>
		<img src="{{handler.img_url('favicon.ico')}}" class="logo">
		<h1>空谷招新</h1>
	</nav>
	<div class="main">
		<form method="post" id="loginform">
			{% include 'form-fields.html' %}
			<button class="btn-submit">登录</button>
		</form>
	</div>
{% endblock %}