{% extends "base.html" %}
{% block title %}后台管理{% endblock %}
{% block head %}
	<link rel="shortcut icon" href="{{handler.img_url('favicon.ico')}}" />
	{% js settings.JQ %}
	{% css_js 'backend', handler.appid %}
{%- endblock %}
{% block main %}
	<nav>
		<img src="{{handler.img_url('favicon.ico')}}" class="logo">
		<h1>空谷招新 - <span id="subtitle">{{thismenu.title}}</span></h1>
	</nav>
	<div class="main">
		<aside>
			<ul id="sidemenu">
			{%- for menu in menus %}
				<li><a href="{{handler.action(menu.name)}}" {%if menu == thismenu %}class="active"{%endif%}>{{menu.title}}</a></li>
			{%- endfor %}
			</ul>
		</aside>
		<div class="main-content">{% block content %}{% endblock %}</div>
	</div>
{% endblock %}