{%- if not handler.is_ajax %}
	{% extends "blog/user/base.html" %}
{% endif %}
{% block head %}
	{{super()}}
	{% cjs 'mine-article', True%}
{% endblock %}
{% block content -%}
	<h1> <i class="icon icon-book"></i> TA的博客 </h1>
	<ul class="article-list">
		{% for item in articles -%}
			<li>
				<a href="{{handler.article_url(item)}}">{{item.title}}</a>
				<div class="time">
					<i class="icon icon-time"></i>
					{{item.create_time}}
				</div>
				<p class="desc">{{item.description[:100]}}</p>
				<div class="tags">
					<i class="icon icon-tags"></i>
					{%- for tag in item.tagv -%}
						<span class="tag">{{tag}}</span>
					{%- endfor -%}
				</div>
				<div class="bottom">
					<i class="icon icon-view"></i> <span>{{item.view_count}}</span>
					<i class="icon icon-comments"></i> <span>{{item.comment_count}}</span>
				</div>
			</li>
		{%- endfor %}
	</ul>
{%- endblock %}