body {
  font-family: 'Microsoft YaHei';
  margin: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden; }

a {
  text-decoration: none;
  color: inherit; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-overflow-scrolling: touch;
  outline: 0; }

.modal-open-body {
  overflow: hidden; }

.modal-open {
  overflow-x: hidden;
  overflow-y: auto;
  display: block; }

.modal-dialog {
  margin: 20px auto;
  background-color: #fff;
  border-radius: 4px;
  width: 60%; }

.modal-header {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.4em;
  text-align: center;
  font-size: 1.6em;
  font-weight: 300; }

.modal-footer {
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  border-top: solid 1px #ddd; }

.modal-flex-btn {
  display: block;
  padding: 10px;
  text-align: center;
  flex-grow: 1;
  cursor: pointer; }
  .modal-flex-btn:hover {
    box-shadow: inset 0 16px 50px rgba(0, 0, 0, 0.125); }

@media (max-device-width: 768px), (max-width: 768px) {
  .modal-dialog {
    width: 90%; } }
