@charset "UTF-8";
html, body {
  height: 100%; }

.wrap {
  min-height: 100%; }

.aside-right {
  position: fixed;
  z-index: 10;
  right: 10px;
  bottom: 64px;
  width: 36px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 14px; }
  .aside-right > div {
    border: 1px dashed #ccd;
    padding: 2px;
    cursor: pointer; }

.page-header {
  background-color: #24292c;
  padding: 10px;
  overflow: hidden; }
  .page-header .header-in {
    max-width: 1200px;
    padding: 15px 0;
    margin: 0 auto;
    overflow: hidden; }
  .page-header nav {
    float: left; }
    .page-header nav a {
      display: inline-block;
      color: #f1f6f9;
      border-radius: 4px;
      padding: 5px 8px;
      margin: 0 8px; }
      .page-header nav a.active {
        background-color: #0a9b5a; }
  .page-header form.search {
    float: right;
    margin-right: 10px; }
    .page-header form.search .search {
      float: left;
      background: #000;
      color: #fff;
      border: navajowhite;
      border-radius: 10px 0 0 10px;
      padding: 6px; }
      .page-header form.search .search::selection {
        background-color: #aaa; }
    .page-header form.search .btn-search {
      color: #fff;
      border-radius: 0 10px 10px 0;
      background: #24bf73;
      display: inline-block;
      border: none;
      height: 29px;
      width: 30px;
      vertical-align: middle;
      cursor: pointer; }
  .page-header .nav-btns {
    float: right; }
    .page-header .nav-btns a {
      display: inline-block;
      color: #fff;
      padding: 5px 8px; }

.main {
  width: 1200px;
  margin: 0 auto; }

@font-face {
  font-family: 'icon';
  src: url("../fonts/icon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.icon {
  font-family: 'icon';
  display: inline-block;
  font-style: normal;
  width: 16px;
  height: 16px; }

.icon-search:before {
  content: ""; }

.icon-user:before {
  content: ""; }

.icon-setting:before {
  content: ""; }

.icon-star:before {
  content: ""; }

.icon-book:before {
  content: ""; }

.icon-comment:before {
  content: ""; }

.icon-comments:before {
  content: ""; }

.icon-tags:before {
  content: ""; }

.icon-edit:before {
  content: ""; }

.icon-time:before {
  content: ""; }

.icon-praise:before {
  content: ""; }

.icon-view:before {
  content: ""; }

.qrcode-wrapper {
  position: absolute;
  right: 100%;
  bottom: 0;
  display: none;
  border: solid 2px #ccd;
  background-color: #fff; }
  .qrcode-wrapper #qrcode {
    width: 160px;
    height: 160px;
    padding: 10px; }
  .qrcode-wrapper em {
    display: block;
    height: 32px;
    border-top: 1px dashed #ccd;
    text-align: center;
    color: #555;
    line-height: 30px; }

.qrcode-block:hover .qrcode-wrapper {
  display: block; }

@media (max-device-width: 1200px), (max-width: 1200px) {
  .qrcode-block {
    display: none; } }
