.layout {
  padding: 5px;
  overflow: hidden; }
  .layout .btns {
    padding: 10px 0; }
    .layout .btns button {
      font-family: 'icon'; }

.raw, #html {
  float: left;
  width: 50%;
  height: 600px;
  box-sizing: border-box; }

.raw #inputer {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  vertical-align: top;
  padding: 10px;
  resize: none;
  border: none;
  background-color: #f5f5f5;
  outline: none;
  font-family: inherit;
  color: #616161;
  box-shadow: 0 0 3px #aaa;
  transition: all ease .3s; }

#html {
  padding: 10px;
  box-shadow: 0 0 3px #aaa;
  overflow: auto;
  line-height: 1.3; }
