li.user {
  display: inline-block;
  width: 180px;
  padding: 10px;
  background-color: #f5f5f5;
  float: left;
  margin-left: 5px;
  margin-top: 4px; }
  li.user .avatar {
    width: 60px;
    border-radius: 50%;
    vertical-align: top; }
  li.user .name {
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    line-height: 1.5; }
