{% extends "base.html" %}
{% block title %}二维码生成{% endblock %}
{% block head %}
	{% js settings.JQ + ', jquery-qrcode.min' %}
	<script>
		$(function(){
			btn_go.onclick = function(){
				$("#code").empty().qrcode({ 
					render: "canvas",
					width: 200,
					height:200,
					text: location.href
				}); 
			};
		});
	</script>
{% endblock %}
{% block main %}

<div>
	<label>
		输入URL：
		<input type="url" id="url" />
	</label>
	<button id="btn_go">转换</button>
</div>
<div id="code"></div>
{% endblock %}