{% extends "base.html" %}
{% block title %}博客 - {{title}}{% endblock %}
{% block head %}
	{#%- js settings.JQ + ',jquery-qrcode.min' %#}
	{%- css 'blog', True%}
	<link rel="shortcut icon" href="{{handler.img_url('favicon.ico')}}" />
{% endblock %}
{% block wrap %}
	<header class="page-header">
		<div class="header-in">
			<div class="logo"></div>
			<nav>
			{%- for key, title in handler.config.topnav %}
				<a href="{{handler.url(key, True)}}"{%if key==handler.route[1]%} class="active"{%endif%}>{{title}}</a>
			{%- endfor %}
			</nav>
			<span class="nav-btns">
			{%- if handler.user %}
				<a href="{{handler.url('mine/setting',True)}}">{{handler.user.getname()}}</a>
				<a href="{{handler.url('logout',True)}}">退出</a>
			{%- else %}
				<a href="{{handler.url('login',True)}}">登录</a>
				<a href="{{handler.url('register',True)}}">注册</a>
			{% endif %}
			</span>
			<form class="search">
				<input type="search" class="search" name="search">
				<button class="btn-search"><i class="icon icon-search"></i></button>
			</form>
		</div>
	</header>
	<div class="main">{% block main %}{% endblock %}</div>
	{#<aside class="aside-right">
		<div class="to_top">回到顶部</div>
		<div class="qrcode-block">
			<span>扫码访问</span>
			<div class="qrcode-wrapper">
				<div id="qrcode"></div>
				<em>用手机扫码访问本页</em>
			</div>
		</div>
	</aside>#}
{%- endblock %}