<!DOCTYPE html>
<html {% lang False %}>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}{% endblock %}</title>
	{% css 'normalize.min, base' %}
	{%- block head %}{% endblock %}
	<!--[if lte IE 9]>
		<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
		{% js 'custom.modernizr' %}
	<![endif]-->
</head>
<body>
	<div class="wrap">{% block wrap %}{% endblock %}</div>
</body>
</html>