{% extends "blog/base.html" %}
{% block title %}{{super()}}登录{% endblock %}
{% block head %}
    {{super()}}
    {% css 'login', True %}
{% endblock %}
{% block main %}
    <div class="content-box">
        <h1>登录</h1>
        <form id="login" method="post">
            <input class="text" type="text" name="username" placeholder="用户账号" value="{{username}}" required>
            <input class="text" type="password" name="password" placeholder="用户密码" required>
            <button type="submit" class="submit">登录</button>
            <p class="help-text">{{err}}</p>
        </form>
    </div>
{% endblock %}