{% extends "blog/base.html" %}
{% block title %}{{super()}}注册{% endblock %}
{% block head %}
    {{super()}}
    {% css 'login', True %}
{% endblock %}
{% block content %}
<div class="content">
    <div class="content-box">
        <h1>注册</h1>
        <form id="rigister" method="post">
            <input class="text" type="text" name="username" placeholder="取个名字吧" required>
            <input class="text" type="password" name="password" placeholder="设一个密码吧" required>
            <input class="text" type="password" id="pwd_confirm" placeholder="再输一遍密码吧" required>
            <input class="text" type="email" name="email" placeholder="邮箱" required="">
            <button type="submit" class="submit">注册</button>
            <p class="help-text">{{err}}</p>
        </form>
    </div>
</div>
<script>
    rigister.onsubmit = function(){
        if (this.password.value != pwd_confirm.value) {
            var helpText = document.querySelector('.help-text');
            helpText.innerHTML = "两次密码不一致";
            helpText.style.display = 'block';
            setTimeout(function(){
                helpText.style.display = 'none';
            }, 3000);
            return false;
        }
    };
</script>
{% endblock %}