.add {
    float: right;
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #109d59;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #109d59;
}

.article-list {
    li {
        border-bottom: solid #e5e5e5 2px;
        padding-bottom: 15px;
        margin-top: 15px;

        &:last-child {
            border-bottom: none;
        }
    }
    .status {
        border: 1px solid #4c72f1;
        color: #4c72f1;
        display: inline-block;
        font-size: 12px;
        width: 50px;
        height: 20px;
        border-radius: 10px;
        line-height: 20px;
        text-align: center;
        vertical-align: 1px;
    }
    .time, .bottom {
        color: #b2b2b2;
    }
    .time {
        float: right;
    }
    .desc {
        color: #646464;
    }
    .tags {
        float: left;
    }
    .bottom {
        text-align: right;
        .icon {
            margin-left: 5px;
        }
    }
}